.x-shopcart-null{
    width: 100%;
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
//  @include justify-content(between);
    color:$base-color1;
     font-family: "微软雅黑";
     
    header{
        height: .44rem;
        font-size: .2rem;
        background: $base-color; 
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
       line-height: .44rem;   
    }
    
    
    section{
        
        @include flex();
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        height: 100%;
        width:100%;
        background: $base-color1;
        color: $base-color;
        text-align: center;
        color: #BFBFBF;
        div:nth-child(1){
            
             i{
            font-size: 1.43rem;
            
        }
        }
       
        div:nth-child(2){
            width:100%;
//          height:  .2rem;
            font-size: .2rem;
            text-align: center;
        }
        .btn{
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            height:.8rem;
            line-height: .8rem;
            a{
            width:1rem;
            height:  .3rem;
            line-height:  .3rem;
            background: $base-color;
            color: $base-color1;           
            @include border(1px,#A0A0A0,solid,.071rem);    
            }
        }
    }
    
    
    
}
