$base-color: #333;
$base-color1:#fff;


@font-face {
  font-family: yofont;
  src: url("/artifacts/images/iconfont/iconfont.woff") format("woff"), url("/artifacts/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/artifacts/images/iconfont/iconfont-menu.woff") format("woff"),
  url("/artifacts/images/iconfont/iconfont-menu.ttf") format("truetype");
}
@font-face {
font-family: yofont;
src: url("/artifacts/images/iconfont/iconfont-fahuo.woff") format("woff"), url("/artifacts/images/iconfont/iconfont-fahuo.ttf") format("truetype");
}
@font-face {
font-family: yofont;
src: url("/artifacts/images/iconfont/iconfont-cart.woff") format("woff"), url("/artifacts/images/iconfont/iconfont-cart.ttf") format("truetype");
}
